version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: laravel_app
    volumes:
    - ./:/var/www/html
    networks:
    - laravel
    depends_on:
    - mysql

  nginx:
    image: nginx:alpine
    container_name: laravel_nginx
    ports:
    - "8000:80"
    volumes:
    - ./:/var/www/html
    - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    networks:
    - laravel
    depends_on:
    - app
    - mysql
  mysql:
    image: mysql:8.0
    container_name: laravel_mysql
    environment:
      MYSQL_DATABASE: laravel
      MYSQL_ROOT_PASSWORD: root
      MYSQL_PASSWORD: secret
      MYSQL_USER: laravel
    ports:
    - "3306:3306"
    volumes:
    - mysql_data:/var/lib/mysql
    networks:
    - laravel

  
networks:
    laravel:
      driver: bridge

volumes:
  mysql_data: